- var pageTitle = page.title
- if (pageTitle)
  - pageTitle = pageTitle + "-" + config.title
- else
  - pageTitle = config.title

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title=pageTitle
    link(rel='stylesheet', href='/css/normalize.css')
    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      each url in theme.stylesheets
        link(rel='stylesheet', href=url)
    link(rel="icon", href=config.root + 'images/favicon.ico')
  body
    block content
    div.footer
        div.footer-copyright
          | Theme By 
          a(href="https://github.com/shinux/hexo-theme-adoubi")="Adoubi"
          |  , Made By Zhangangs, Powered By Hexo.
