extends includes/layout

block content
    - var categoriesList = list_categories({ show_count: false })
    - var tagsList = list_tags({ show_count: false })
    - var archivesList = list_archives({ show_count: false })

    div.archive.content
      .author-info
        a(href="/" title="返回首页")
          img(src="/images/icon_face.jpg")
        div.info
          h3.name=config.title
          div.slogan=config.subtitle
      each post in page.posts.sort('date', -1).toArray()
        .archive-item
          div
            if post.link
                a.archive-item__link(href=url_for(post.link) target="_blank" title=(post.link))                  
                  span.archive-item__link__title=post.title || 'No Title'
                  span.archive-item__link__time(datetime=date_xml(post.date))= date(post.date)
            else
                a.archive-item__link(href=url_for(post.path) title=(post.title))                  
                  span.archive-item__link__title=post.title || 'No Title'
                  span.archive-item__link__time(datetime=date_xml(post.date))= date(post.date)

      include includes/paginator.pug
        

