extends includes/layout

block content
    - var categoriesList = list_categories({ show_count: false })
    - var tagsList = list_tags({ show_count: false })
    - var archivesList = list_archives({ show_count: false })
    div.header.content
      div.header__title
        a(href="/")
          img(src="images/icon_face.jpg")
        h3=config.title
        p!=config.moral
      a(href="/archives/" title="archives" target="_self")
        span.header__archive__title="archives"
      a(href="/about/" title="about" target="_self")
        span.header__archive__title="about"
      a(href="https://github.com/zhangangs" target="_blank" title="github")
        span.header__archive__title="github"
      a(href="https://weibo.com/zhangangs" target="_blank" title="weibo")
        span.header__archive__title="weibo"
      a(href="/atom.xml" title="feed")
        span.header__feed__title="feed"
